.logement-container {
    background-color:#F6F6F6 ;
    border-radius: 1rem; 
    padding: 3rem;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
           
    @media (max-width: 768px) {
        background-color: transparent;
        grid-template-columns: 1fr; 
        padding: 10px; 
        gap: 15px;
        }
}
