@use '../Variables/variables.scss';
@use '../Mixins/mixins.scss';

.collapse {
  width: 100%;

  .collapse_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$primary-color;
    color: variables.$third-color;
    border-radius: 5px;
    padding: 0px 20px;
    cursor: pointer;
    @include mixins.title-style(18px, variables.$third-color);
  }

  &__arrow {
    font-size: 2rem;
    transition: transform 0.3s ease;

    &.rotate {
      transform: rotate(-180deg);
    }
  }

  &__content {
    @include mixins.text-style(18px, variables.$secondary-color);
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.2s ease-in-out,
      padding 0.2s ease-in-out;
    line-height: 1.5;
    ul {
      list-style-type: none;
      padding: 0;
    }

    &.open {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      max-height: var(--max-height);
      height: var(--max-height);
    }
  }
  @media (max-width: 768px) {
    .collapse_header {
      @include mixins.title-style(13px, variables.$third-color);
    }
    .fa-chevron-up {
      font-size: 1.5rem;
    }
    &__content {
      @include mixins.text-style(13px, variables.$secondary-color);
    }
  }

  @media (max-width: 1200px) {
    &__content {
      &.open {
        height: calc(var(--max-height) + 30%);
        max-height: calc(var(--max-height) + 30%);
      }
    }
  }
}
