@use '../Variables/variables.scss' as *;
//banner
@mixin title-style($font-size, $color) {
    font-family: $font-stack;
    font-weight: bold;
    font-size: $font-size;
    color: $color;
    text-align: center;
}

@mixin text-style($font-size, $color) {
    font-family: $font-stack;
    font-size: $font-size;
    color: $color;
}