@use '../../Mixins/mixins.scss' as *;
@use '../../Variables/variables.scss' as *;

.banner{
    width: auto;
    padding-top: 17%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position:relative;
    margin-top: 2.5rem;
    margin-bottom: 1rem;


    &::after{    
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        z-index: 1;
        border-radius: 25px; 
    }

    &--home::after {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .banner--about::after {
       background-color: rgba(0, 0, 0, 0.3); // opacité plus forte pour about
     }
    
    h1{
        z-index: 2;
        @include title-style(48px, $third-color);
        font-size: 4vw;
    }


@media (max-width: 768px){
    padding-top: 35%;
    justify-content: flex-start;
    
    h1{
        @include title-style(24px, $third-color);
        text-align: left;
    }
    } 
}